* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "Fira Sans", sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background: url("/background.jpg") top center / cover grey;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 0.95em;
  margin: 0 0 1em 0;
  text-align: justify;
}

h2,
h3,
a {
  text-align: center;
}

h2,
a {
  color: #e6d275;
}

h1 {
  color: #edf4f7;
}

h3 {
  color: #6c4c3f;
}

h2,
h3 {
  margin: 0 0 0.8em 0;
}

h2 {
  margin-top: 15px;
}

a {
  text-decoration: none;
}

img {
  height: 3.5vh;
}

span {
  display: block;
  margin-top: 20px;
}

.h-items {
  flex: 1;
}

.main-content {
  padding: 1em 2em;
}

.not-found {
  text-align: center;
}

.icon-error {
  font-size: 3.2em;
  margin-bottom: 0.25em;
}

.main-title {
  font-family: "Cookie", cursive;
  font-size: clamp(25px, 5.5vh, 45px);
  margin: 0;
  flex-grow: 2;
}

.menu {
  min-height: 18px;
}

.main-title a {
  text-align: center;
  padding: 10px 15px;
}

.main-logo {
  padding: 10px 10px;
}

.main-nav,
.main-nav-ul,
.main-nav-ul a {
  display: none;
}

.main-nav-ul {
  margin-top: 5px;
}

.main-nav-ul a {
  text-align: center;
  padding: 10px 15px;
  font-size: 0.95em;
  color: #e6d275;
}

.main-nav-ul a:hover {
  color: #edf4f7;
}

.top-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.message,
.footer {
  text-align: center;
}

.message {
  color: #edf4f7;
  background: #816f5f;
  padding: 3.2em 0;
  cursor: pointer;
}

.welcome-message:hover {
  color: #e6d275;
}

.row {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  flex-direction: column;
}

.content {
  padding: 1em;
  background: #edf4f7;
  border-radius: 0.35em;
  margin: 0 0.5em 0.8em;
  justify-content: center;
}

h3 {
  align-items: center;
}

.content .button {
  display: block;
  width: 8em;
  margin: 0px auto;
}

.footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

.welcome-message {
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  color: #edf4f7;
  text-align: center;
  padding: 0.625em 1.25em;
  background: #816f5f;
  border-radius: 0.35em;
}

.main-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav-float-ul {
  min-height: 100vh;
  border: 1px solid #e6d275;
  border-radius: var(--borderRadius-large, 0.35rem);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: -2px 0px 5px grey;
  width: 30vw;
  max-width: 250px;
  background-color: #816f5f;
  position: fixed;
  top: 0;
  right: 0;
}

.main-nav-float-ul a {
  text-align: left;
  padding: 10px 15px;
  font-size: 0.95em;
  color: #e6d275;
}

.main-nav-float-ul a:hover {
  color: #edf4f7;
}

.close-logo {
  position: fixed;
  top: 15px;
  right: 20px;
}

.close-logo img {
  height: 1.6vh;
}

.hide {
  display: none;
}

.more-content-btn {
  margin-top: 15px;
  margin-bottom: 25px;
  background: none;
  text-align: center;
}

.more-content-btn .button {
  margin: 0 auto;
  background: none;
  color: #e6d275;
  white-space: pre;
}

.arrow {
  height: 12px;
  transition: all 0.15s ease-out 0s;
}

.more-content-btn:hover .arrow {
  transform: translateX(5px);
}

.block {
  display: block;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {
  .row {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
  }

  .content .button {
    margin-top: auto;
    align-self: flex-end;
  }

  .more-content-btn {
    flex-basis: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    background: none;
    text-align: center;
  }

  .more-content-btn .button {
    margin: 0 auto;
    background: none;
  }

  .hide {
    display: none;
  }

  h2 {
    display: block;
  }
}

@media (min-width: 800px) {
  .main-logo,
  .menu,
  .main-nav-float-ul,
  .main-nav-float-ul a {
    display: none;
  }

  .main-nav,
  .main-nav-ul,
  .main-nav-ul a {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav {
    margin-right: 1vw;
  }

  .main-nav-ul {
    flex: 1;
  }

  .main-title {
    flex-grow: 1;
    margin-left: 1vw;
  }
}
