* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Cookie', cursive; */
    font-family: 'Noto Sans TC', 'Fira Sans',sans-serif;
    line-height: 1.5rem;
    color: #fcfcfc;
    margin: 0;
    background: url("../img/background.jpg") top center / cover grey;
    background-blend-mode: darken;
}

.main-title {
    font-family: 'Cookie', cursive;
    font-size: 5em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    height: 5vh;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
    hyphens: auto;
}

h2, h3 {
    margin-bottom: 1em;
}