* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Cookie', cursive; */
    font-family: 'Noto Sans TC', 'Fira Sans',sans-serif;
    line-height: 1.5rem;
    color: #fcfcfc;
    margin: 0;
    background: url("../img/background.jpg") top center / cover grey;
    background-blend-mode: darken;
}

.main-title a {
    font-family: 'Cookie', cursive;
    font-size: 1.25em;
    margin: 0;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    height: 5vh;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
    hyphens: auto;
}

h2, h3 {
    margin-bottom: 1em;
}

/* ---- Layout Containers ---- */

header {
    background-color: aqua;
    padding: 0.5em 1em 0.5em 1em;
}

.message {
    padding: 3.2em 1em;
    margin-bottom: 0;
    background-color: #FCC89B;
}

.row {
    padding: 1em;
    background-color: #FF5FA2;
}

footer {
    padding: 1em;
    background-color: goldenrod;
}