* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Cookie', cursive; */
    font-family: 'Noto Sans TC', 'Fira Sans',sans-serif;
    line-height: 1.5rem;
    color: #3a3a3a;
    margin: 0;
}

/* ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: 1em;
    margin: 0 0 1em 0;
} */