doctype html
html(lang='zh-Hant')
    head
        title Week-3 Assignment
    body
        h1 Lack of Parameter
        img(src='https://img.ltn.com.tw/Upload/style/page/2022/07/28/220728-21428-6-6giBz.jpg' alt='mina')