extends layout.pug 

block main
    if (status ==='Lack of Parameter')
        h1 Lack of Parameter
    else if (status==='Wrong Parameter! Please enter positive integer.')
        h1 Wrong Parameter! Please enter positive integer.
        //- img(src='https://media.tenor.com/t_CG6WvtFVYAAAAC/mina-pout.gif' alt='Mina cry' title="Mina from TWICE")
    else 
        h1 Everything works fine.
        p #{countingDescription}
        h2 Add from 1 to #{number} is #{sum}.
        //- img(src ="https://i.imgur.com/4aWW5sv.gif" alt="Mina" title="Mina from TWICE")