doctype html
html(lang='zh-Hant')
    head
        title Week-3 Assignment
        //- link(rel='stylesheet' href='/static/stylesheets/style.css')
    body
        //- include includes/header.pug
        block main