extends layout

block main
	h1 Your name is #{username}, right?
	form(action='/', method='get')
		button(type='submit') Go home and submit number!
	//- img(src='https://media.tenor.com/t_CG6WvtFVYAAAAC/mina-pout.gif' alt='Mina cry' title="Mina from TWICE")